@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* For Montserrat: 
Use a value from 100 to 900 */
/* For Bodoni Moda: 
Use a value from 400 to 900 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Montserrat;
}

/* Code for the nav bar */

.nav-bar {
    background-color: palegoldenrod;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-bar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar li {
    height: 70px;
}

.nav-bar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 13px;
    
}

.nav-bar a:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.nav-bar li:first-child {
    margin-right: auto;
}


.nav-bar li:nth-child(2) {
    margin-right: auto
}

.nav-bar span {
    margin-left: 8px;
}

.hamburger-menu {
    display: flex;
    flex-direction: row;
}

ul li a p {
    padding-right: 10px;
}

/* Code for sidebar */

.nav-bar .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 250px;
    z-index: 999;
    background-color: rgba(225, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%
}
.sidebar a {
    width: 100%
}

.nav-bar .sidebar li:first-child {
    margin-left: 65%;
}

/* CODE FOR THE BOTTOM NAV BAR */

.bottom-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 73vh 0vh 0vh 0vh;
    z-index: 800;
}


.bottom-bar ul, .bottom-bar a {
    list-style: none;
    text-decoration: none;
    color: black;
}


.bottom-bar {
    position: fixed;
    background-color: rgba(67, 67, 67, 0.2);
    backdrop-filter: blur(5px);
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.bottom-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-bar li {
    padding: 18px 18px 18px 18px;
    font-size: 15px;
}

/* CODE FOR THE HEADER DIV */

.grid-container .header-div {
    grid-area: header;
}

.header-div img {
    width: 500px;
    height: auto;
}

.grid-container .sidebar1 {
    grid-area: sidebar1;
}

.grid-container .sidebar2 {
    grid-area: sidebar2;
}

.grid-container .sidebar3 {
    grid-area: sidebar3;
}

.grid-container {
    display: grid;
    border: 1px solid black;
    margin: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "sidebar1 sidebar2 sidebar3"
}